.notify {
    border-radius: 100%;
    color: white;
    
    text-align: center;
    display: inline-flex;
    margin-left: 20px;
    
}
.bgg {
    height: 30px;
    width:30px;
    font-size: 10px;
    line-height: 30px;
}

.smm {
    height: 15px;
    width:15px;
    font-size: 9px;
    line-height: 15px;
    padding-left: 5px;
}
.top-notify {
    
    position: absolute;
    margin: 0;
    bottom: 10px;
    left: 35px;
}